html {
  background-image: url("../images/ravenna.png");
  min-height: 100%;
  position: relative;
}

body {
  background-color: transparent;
  color: #727272;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 22px;
  margin-bottom: 100px;
}

header {
    border-bottom: 2px solid #727272;
    background-color: #333;
    color: #bbb;
    position: fixed;
    width: 100%;
    z-index: 999;
}

header h1 {
  font-size: 2em;
  height: 98px;
  margin: 0;
  padding-top: 25px;
}

nav {
  float: right;
  height: 98px;
  padding-top: 30px;
}

nav a {
  color: #4aaaa5;
  border-right: 1px solid #6ed3ce7c;
  padding: 0 20px 0 15px;
}

nav a:last-child {
  border: none;
  padding-right: 0;
}

nav a:hover {
  color: #6ed3ce;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4aaaa5;
  font-family: 'Caudex', 'Times New Roman', Times, serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.7em;
  padding-bottom: 25px;
  border-bottom: 2px solid #bbb;
  margin-bottom: 30px;
}

h3 {
  font-size: 1.3em;
  padding-bottom: 20px;
  border-bottom: 2px solid #bbb;
  margin-bottom: 25px;
}

.jumbotron {
  background-image: url("../images/j_bkgd.jpg");
  background-size: cover;
  border-bottom: 2px solid #727272;
  text-align: center;
  z-index: 888;
}

.jumbotron h1,
.jumbotron p {
  color: #000;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 0 0 15px #fff;
}

.jumbotron h1 {
  font-size: 7em;
  margin-top: 100px;
  text-shadow: 0 0 30px #fff;
}

.jumbotron p {
  font-size: 2em;
  line-height: 1.6;
  text-shadow: 0 0 15px #fff;
}

.main-content {
  background-color: #f8f8f8;
  border: 2px solid #727272;
  line-height: 2;
  margin-bottom: 30px;
  padding: 30px;
}

#about-me img {
  float: left;
  max-width: 100%;
  margin-right: 20px;
  margin-top: 12px;
  width: 300px;
}

#about-me h2 {
  margin-bottom: 18px;
}

#portfolio {
  padding: 30px 15px 0 15px;
}

#portfolio img {
  width: 100%;
}

#portfolio .row {
  margin-left: 0;
  margin-right: 0;  
  position: relative;
}

#portfolio h2 {
  margin-bottom: 0;
}

/* removing padding from each div solves the heading overlap problem (created by setting h4 to position: absolute, width: 100%), but eliminates the space between the columns; I wrapped each one in an extra set of row / column to offset */
#portfolio .box {
  margin-bottom: 30px;
  padding: 0;
  position: relative;
}

/* much of this h4 styling is to override Bootstrap styles */
#portfolio h4 {
  background: linear-gradient(to right,#727272, #bdbdbd 1.7%, #727272 3%, #333 6%, #222, #222, #333 94%, #727272 97%, #bdbdbd 98.3%, #727272);
  border-bottom: 3px solid #4aaaa5;
  border-top: 3px solid #4aaaa5;
  color: linear-gradient(to right, #034d49, #4aaaa5, #034d49);
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
  bottom: 15px;
  text-align: center;
  text-shadow: 0 0 30px #fefefe;
  width: 100%;
}

#portfolio a:hover {
    opacity: .75;
  text-decoration: none;
}


aside {
  background-color: #f8f8f8;
  border: 2px solid #727272;
  margin-bottom: 30px;
  padding: 20px 30px 35px 30px;
}

aside div a {
  padding-right: 5px;
}

aside div a:last-child {
  padding-right: 0;
}

aside a:hover {
  opacity: .75;
  text-decoration: none;
}

footer {  
  background-color: #333;
  border-top: 2px solid #727272;
  color: #bbb;
  font-size: .7em;
  height: 100px;
  padding-top: 35px;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 991px) {
  /* change jumbotron settings:
      font-size: of h1 and p;
      text-align: center - h1 and p;
      margin-top: of .jumbotron h1 to accommodate the two-row header;
      change the background color of the nav bar;
      change the height of h1 and p to 73px instead of 98px;
      change the nav bar display to flex, as in the other responsive design; 
      
      
      */
}