.row {
  margin: 50px 0;
  border: 1px solid #000;
}

/* z-index commented out because it makes no difference, but left as a comment to show it was tried */
img {
  margin: 0;
  width: 100%;
  /* z-index: 0 !important; */
}

/* much of this h4 styling is to override Bootstrap styles */
h4 {
  background-color: #4aaaa5;
  color: #fff;
  font-size: 1.4em;
  font-weight: 100;
  line-height: 1;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  width: 100%;
  /* z-index: 99999 !important; */
}

/* ROW ONE STYLING */
/* positioning parent / child elements as relative / absolute, which is what worked with my first portfolio.
-- Does not work with Bootstrap. Position: absolute makes the h4 display as inline unless I change the width. Because of the padding around each column, width: 100% makes the heading background wider than the image; I attempted to solve this in row-2 and row-3 below -- */
.row-1 div {
  position: relative;
}

.row-1 h4 {
  position: absolute;
  bottom: 10px;
}

/* ROW TWO STYLING */
/* row-2 - attempting to use negative top margin to position the h4 inside the bottom of the image. The positioning works, but the background color gets pushed behind the image. z-index makes no difference. It also makes no difference if I change the img and h4 order in the html. */
.row-2 h4 {
  margin-top: -60px;
  /* z-index: 99999; */
}

/* ROW THREE STYLING */
.row-3 div {
  position: relative;
}

.row-3 h4 {
  position: absolute;
  bottom: 10px;
}
/* removing padding from each div solves the heading overlap problem, but eliminates the space between the columns;
added margins to re-create the space, but that forces the columns to wrap to the next row because, with the added margins, they're too wide */
.row-3 .box {
  padding: 0;
}

/* ROW FOUR STYLING */
/* Changed the classes to col-md-5, so that allows extra room for the margins, but I can't use empty divs to center the row content */
.row-4 div {
  position: relative;
}

.row-4 h4 {
  position: absolute;
  bottom: 10px;
}

.row-4 .box {
  padding: 0;
  margin: 15px;
}