html {
  background-image: url("../images/ravenna.png");
  min-height: 100%;
  position: relative;
}

body {
  background-color: transparent;
  color: #727272;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 22px;
  margin-bottom: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4aaaa5;
  font-family: 'Caudex', 'Times New Roman', Times, serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  line-height: 1.25em;
}

h2 {
  font-size: 1.7em;
  padding-bottom: 25px;
  border-bottom: 2px solid #bbb;
  margin-bottom: 30px;
}

h3 {
  font-size: 1.3em;
  padding-bottom: 20px;
  border-bottom: 2px solid #bbb;
  margin-bottom: 25px;
}

h4 {
  background: linear-gradient(to right,#727272, #bdbdbd 1.7%, #727272 3%, #333 6%, #222, #222, #333 94%, #727272 97%, #bdbdbd 98.3%, #727272);
  border-bottom: 3px solid #4aaaa5;
  border-top: 3px solid #4aaaa5;
  color: linear-gradient(to right, #034d49, #4aaaa5, #034d49);
  font-size: 1em;
  line-height: 1;
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
  bottom: 15px;
  text-align: center;
  text-shadow: 0 0 30px #fefefe;
  width: 100%;
}

/* navbar styling */

.navbar {
  background-color: #333;
  border: unset;
  border-bottom: 2px solid #727272;
  border-radius: 0;
  height: 98px;
  padding-top:  20px;
  width: 100%;
}

.navbar h1 {
  padding-left: 20px;
}

.navbar-brand {
  font-size: unset;
  height: unset;
  line-height: unset;
  padding: unset;
}

.navbar-default .navbar-collapse {
  border-color: #727272;
}

.navbar .navbar-nav > li > a {
  border-right: 1px solid #6ed3ce7c;
  color: #4aaaa5;
  margin-bottom: 10px;
  margin-top: 18px;
  padding: 0 20px;
}

.navbar a h1:hover,
.navbar .navbar-nav > li > a:hover {
  background-color: transparent;
  color: #6ed3ce;
  text-decoration: none;
}

.navbar .navbar-nav > li .no-border {
  border: none;
}

.navbar a h1:hover {
  background-color: transparent;
  color: #6ed3ce;
  text-decoration: none;
}

.navbar-collapse {
  background-color: #333;
}

/* jumbotron styling */

.jumbotron {
  background-image: url("../images/j_bkgd.jpg");
  background-size: contain;
  border-bottom: 2px solid #727272;
  text-align: center;
}

.jumbotron h1,
.jumbotron p {
  color: #000;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 0 0 15px #fff;
}

.jumbotron h1 {
  font-size: 7em;
  margin-top: 75px;
  text-shadow: 0 0 30px #fff;
}

.jumbotron p {
  font-size: 2em;
  line-height: 1.8;
  text-shadow: 0 0 10px #fff;
}

.jumbotron .jumbo-shrimp {
  font-size: 1.1em;
  text-shadow: 0 0 5px #fff;
}

.jumbotron #h1-anime {
  animation: opac 2s;
}

.jumbotron #p1-anime {
  animation: opac1 4.25s;
}

.jumbotron #p2-anime {
  animation: opac2 7s;
}

@keyframes opac { 
  0% { opacity:0; }
  100% { opacity:1; }
}

@keyframes opac1 { 
  0% { opacity:0; }
  40% { opacity:0; }
  100% { opacity:1; }
}

@keyframes opac2 { 
  0% { opacity:0; }
  50% { opacity:0; }
  100% { opacity:1; }
}

/* main content styling */

.main-content {
  background-color: #f8f8f8;
  border: 2px solid #727272;
  line-height: 2;
  margin-bottom: 30px;
  padding: 30px;
}

/* index.html styling */

#about-me img {
  float: left;
  margin-right: 20px;
  margin-top: 12px;
  max-width: 50%;
}

#about-me h2 {
  margin-bottom: 18px;
}

/* portfolio.html styling */

#portfolio {
  padding: 30px 15px 0 15px;
}

#portfolio img {
  width: 100%;
}

#portfolio .row {
  margin-left: 0;
  margin-right: 0;  
  position: relative;
}

#portfolio h2 {
  margin-bottom: 0;
}

/* removing padding from each div solves the heading overlap problem (created by setting h4 to position: absolute, width: 100%), but eliminates the space between the columns; I wrapped each one in an extra set of row / column to offset */
#portfolio .box {
  margin-bottom: 30px;
  padding: 0;
  position: relative;
}

#portfolio a:hover {
  opacity: .75;
  text-decoration: none;
}

#portfolio .box {  
  transition: all 0.35s ease;
}

#portfolio .box:hover {
  transform: rotate(5deg);
}

/* contact.html styling */

textarea.form-control {
  min-height: 200px;
  max-width: 100%;
  min-width: 100%;
}

input.form-control,
textarea.form-control {
  border: 1px solid #4aaaa5;
}

form {
  line-height: 1;
}

form input {
  margin-bottom: 25px;
}

form label {
  margin-bottom: 15px;
}

.btn {
  background:linear-gradient(#333, #222, #333);
  border: 2px solid #4aaaa5;
  color: #4aaaa5;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: .8em;
  font-weight: bold;
  text-shadow: 0 0 30px #fefefe;
}

/* aside styling */

aside {
  background-color: #f8f8f8;
  border: 2px solid #727272;
  margin-bottom: 30px;
  padding: 20px 30px 35px 30px;
}

aside div a {
  padding-right: 3px;
}

aside div a:last-child {
  padding-right: 0;
}

aside a:hover {
  opacity: .75;
  text-decoration: none;
}

/* footer styling */

footer {  
  background-color: #333;
  border-top: 2px solid #727272;
  color: #bbb;
  font-size: .7em;
  height: 100px;
  padding-top: 35px;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

/* media queries */

@media screen and (max-width: 991px) {

  .jumbotron {
  padding-bottom: 30px;
  }
  .jumbotron h1 {
    font-size: 5em;
  }
  .jumbotron p {
    font-size: 1.5em;
    line-height: 1.4;
  }
  .jumbotron .jumbo-shrimp {
    font-size: .9em;
  }

}

@media screen and (max-width: 767px) {

  .navbar-toggle {
    margin: 12px 15px 31px 0;
  }
  .jumbotron {
    padding: 30px;
  }
  .jumbotron h1 {
    font-size: 3.8em;
  }
  .jumbotron p {
    font-size: 1.1em;
    line-height: 1.15;
  }
  .jumbotron .jumbo-shrimp {
    font-size: .7em;
  }

}

@media screen and (max-width: 640px) {

  .navbar {
    margin-bottom: 0;
    position: relative;
  }
  #about-me img {
    max-width: 100%;
  }
  .jumbotron {
    padding: 20px;
  }
  .jumbotron h1 {
    font-size: 3.5em;
    margin-top: 0;
  }
  .jumbotron p {
    font-size: 1em;
    line-height: 1;
  }
  .jumbotron .jumbo-shrimp {
    font-size: .65em;
  }
  #about-me p {
    font-size: .8em;
  }
  #about-me img {
    margin-bottom: 10px;
  }

}

@media screen and (max-width: 576px) {
  
  .col-xs-6 {
    width: 100%;
  }

}

@media screen and (max-width: 400px) {

  .navbar h1 {
    font-size: 1.75em;
    padding-top: 5px;
  }
  .jumbotron {
    padding: 10px;
  }
  .jumbotron h1 {
    font-size: 2.5em;
  }
  .jumbotron p {
    font-size: .8em;
    line-height: 1;
  }
  #about-me p {
    font-size: .6em;
  }
  .jumbotron .jumbo-shrimp {
    font-size: .5em;
  }

}